.Columns {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-x: scroll;
  & > div {
    min-width: 18em;
  }
}
.Overflow {
  overflow-y: scroll;
  max-height: 30em;
}
.Samples {
  display: flex;
  flex-direction: row;
  flex: 1;
  span {
    // border:1px dotted black;
    width: 20em;
    height: 5em;
    padding: 0.5em;
    color: rgba(255, 255, 255, 0.5);
  }
  input {
    margin: 0 0.5em 0 0;
  }
}
