.Table {
  width: 100%;
  table-layout: fixed;
  tbody tr {
    border-top: 1px solid linen;
  }
  th,
  td {
    padding: 0 0.5em;
    vertical-align: top;
    &.Name {
      font-size: 0.75em;
      line-height: 1.2em;
      padding: 0.25em;
    }
    label {
      padding: 0 0.25em;
    }
  }
  .Image {
    float: left;
    width: 40px;
    margin-right: 0.5em;
  }
}
.Columns {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow-x: scroll;
  & > div {
    min-width: 18em;
  }
}
