html,
body {
  // position: relative;
  // height: 100%;
  margin: 0;
}
.App {
  position: fixed;
  bottom: 8.2em;
  right: 2.4em;
  z-index: 10000;
}
.Button {
  cursor: pointer;
  border: 3px solid transparent;
  border-radius: 50%;
  background: white;
  color: red;
  font-size: 1em;
  width: 3.6em;
  height: 3.6em;
  opacity: 0.2;
  &:hover {
    opacity: 0.6;
  }
}
.Options {
  min-height: 100%;
  border: 2px solid green;
}
.Panel {
  border: 2px solid yellow;
}
.Popup {
  border: 2px solid blue;
}
.Nav {
  color: orange;
}
