name: Build
on:
  push:
    branches:
      - renovate/**
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # https://docs.github.com/en/actions/guides/building-and-testing-nodejs#installing-dependencies
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 9
          run_install: false
      - name: Install dependencies
        run: pnpm install
      - name: Build application
        run: pnpm build
